@font-face {
    font-family: 'abismosbase';
    src: url('abismosbase-webfont.woff2') format('woff2'),
         url('abismosbase-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img.u-full-width {
	height: auto;
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

.button.big {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
}

.row.center {
	text-align: center;
}

.navbar-container {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

ul.navbar-list,
ul.social-links {
	list-style: none;
	margin: 0;
}

ul.navbar-list li,
ul.social-links li {
	display: inline;
	margin: 0 2em 0 0;
}

ul.navbar-list li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #777;
	font-size:1.2em;
}

@media (min-width: 750px) {
	ul.navbar-list li a {
		font-size:1em;
	}
}


ul.navbar-list li a:active,
ul.navbar-list li a:focus,
ul.navbar-list li a:hover {
	color: #333;
}

ul.social-links {
	position: absolute;
	right: 0;
	top: 0.5em;
}

.navbar-container ul.social-links {
	display: none;
}
@media (min-width: 550px) {
	.navbar-container ul.social-links {
		display: block;
	}
}

.footer-container ul.social-links {
	position: static;
}

.footer-container ul.social-links li {
	margin-right: 1em;
}

.navbar-container ul.social-links li {
	font-size: 0;
	margin-left: 10px;
}

@media (min-width: 750px) {
	.navbar-container ul.social-links li {
		font-size: 1em;
		margin-left: 1em;
		margin-right: 0;
	}
}


ul.social-links li a {
	color: #777;
	text-decoration: none;
	font-size: 0.9em;
}

.footer-container ul.social-links li a {
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 5em;
}

ul.social-links li a:active,
ul.social-links li a:focus,
ul.social-links li a:hover {
	color: #333;
}
ul.social-links li a:active svg,
ul.social-links li a:focus svg,
ul.social-links li a:hover svg {
	fill: #333;
}

ul.social-links li a svg {
	margin-bottom: -3px;
	margin-right: 5px;
	fill: #777;
}

h1.site-title {
	text-align: center;
}
@media (min-width: 550px) {
	h1.site-title {
		margin: 0.5em 0;
	}
}
@media (min-width: 750px) {
	h1.site-title {
		margin: 1em 0;
	}
}

h1,h2,h3 {
	font-family: "abismosbase";
}

.chapter-featured {
	box-shadow: 0px 0px 2px #666;
	max-width: 460px;
	position: relative;
	margin-bottom: 2em;
}

.chapter-featured img {
	display: block;
	max-width: 100%;
	height: auto;
	clip: rect(30px,460px,180px,0px);
	position: absolute;
	top: -30px;
}

@media (min-width: 550px) {
	.chapter-featured img {
		clip: auto;
		position: relative;
		top: 0;
	}
}


.chapter-featured .image-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1em;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
	box-sizing: border-box;
}

.chapter-featured.first-chapter .image-overlay {
	text-align: right;
}

.chapter-featured .image-overlay h3 {
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #E9BEB3;
	font-weight: bold;
	margin: 0;
	letter-spacing: 2px;
}

.chapter-featured .image-overlay h2 {
	line-height: 1.3;
	color: #FFF;
	text-shadow: 0 0 2px #000;
	font-size: 2em;
	text-transform: uppercase;
}

.chapter-featured .image-overlay h2 span {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	letter-spacing: 2px;
	color: #DDD;
	text-shadow: 0 0 2px #000;
}

@media (min-width: 1000px) {
	.chapter-featured .image-overlay {
		padding: 1em 2em;
	}
	.chapter-featured .image-overlay h3 {
		font-size: 1em;
	}
	.chapter-featured .image-overlay h2 {
		font-size: 3em;
	}
}

.chapter-featured .inner {
	margin-top: 150px;
}

@media (min-width: 550px) {
	.chapter-featured .inner {
		margin-top: 0;
	}
}

@media (min-width: 750px) {
	.chapter-featured .inner {
		padding: 1em;
	}
}

.chapter-featured .button-primary {
	width: 100%;
	font-size: 1.1em;
	line-height: 50px;
	height: 50px;
}
@media (min-width: 750px) {
	.chapter-featured .button-primary {
		float: right;
		width: auto;
		font-size: 11px;
		line-height: 38px;
		height: 38px;
		margin-left: 1em;
	}
}

.chapter-featured .description {
	padding: 0 1em;
}

.chapter-featured .author {
	color: #E3876E;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-top: 1.2em;
	padding: 0 1.2em;
}

.chapter-featured .date {
	color: #BBB;
	padding: 0 1em 1em;
}

@media (min-width: 750px) {
	.chapter-featured .description,
	.chapter-featured .author,
	.chapter-featured .date {
		padding: 0;
	}
}

.chapters-button .button {
	width: 400px;
	max-width: 100%;
	margin: 1em 0 3em;
}